<h1>Login</h1>

<div>
    <form method="post" action="/api/user/login">
        <input type="text" placeholder="correo" name="email"/>
        <br/>
        <input type="password" placeholder="contrasena" name="password"/>
        <br/>
        <button type="submit">Iniciar sesion</button>
    </form>
    <hr>
<a href="/forgot-password">
    <button>Restablecer constraseña</button>
</a>
</div>