<h1>profile</h1>
    
    <h2>hola {{userData.first_name}} {{userData.last_name}}</h2>
    <h3>te registraste con el correo {{userData.email}}</h3>
    <h4>tu rol en la app es {{userData.role}}</h4>
    {{#if userData.isAdmin}}
        <h1>eres admin y puedes ver esto</h1>
        <a href="/adddesign">addDesign</a>
    {{/if}}
    
    <script src="./js/index.js"></script>