<nav>
    <span><a href="/">Inicio</a></span>
    <span><a href="/signin">Registro</a></span>
    <span><a href="/login">Iniciar sesion</a></span>
    <span><a href="/designs">designs</a></span>
    <span><a href="/profile">profile</a></span>
    <span><a href="/cart">Cart</a></span>
    <span><a href="/chat">Chat</a></span>
    <span><a href="/addDesign">addDesign</a></span>
    <button onclick="logout()">Cerrar sesion</button>
</nav>